<!-- Footer section -->
<section class="footer-section">
	<div class="container">
		<div class="footer-logo text-center">
			<a href="/"><img src="/img/teknoloji denizi logo.jpg" alt=""></a>
		</div>
		<div class="row">
			<div class="col-lg-4 col-sm-6">
				<div class="footer-widget about-widget">
					<h2>Hakkımızda</h2>
					<p>Teknolojinin Denizlerinde güvenli bir liman dendiğinde akla gelen ilk web sayfası!</p>
					
				</div>
			</div>
			<div class="col-lg-4 col-sm-6">
				<div class="footer-widget about-widget">
					<h2>Yararlı Sayfalar</h2>
					<ul>
						<li><a href="">Hakkımızda</a></li>
						<li><a href="">Sipariş Takip</a></li>
						<li><a href="">İadeler</a></li>
						<li><a href="">İş Olanakları</a></li>
						<li><a href="">Kargo Takip</a></li>
						<li><a href="">Blog</a></li>
					</ul>
					<ul>
						<li><a href="">İş Ortaklarımız</a></li>
						<li><a href="">Destek</a></li>
						<li><a href="">Kullanım Koşulları</a></li>
						<li><a href="">Basında Biz</a></li>
					</ul>
				</div>
			</div>
		
			<div class="col-lg-4 col-sm-6">
				<div class="footer-widget contact-widget">
					<h2>İLETİŞİM</h2>
					<div class="con-info">
						<span>Şirket İsmi</span>
						<p>Teknoloji Denizi LTD. ŞTİ.  </p>
					</div>
					<div class="con-info">
						<span>Adres</span>
						<p>Türkiye / İstanbul </p>
					</div>
					<div class="con-info">
						<span>Telefon</span>
						<p>+90 212 999 12 99</p>
					</div>
					<div class="con-info">
						<span>E-MAİL</span>
						<p>info@teknolojidenizi.com.tr</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="social-links-warp">
		<div class="container">
			<div class="social-links">
				<a href="" class="instagram"><i class="fa fa-instagram"></i><span>instagram</span></a>
				<a href="" class="google-plus"><i class="fa fa-google-plus"></i><span>g+plus</span></a>
				<a href="" class="pinterest"><i class="fa fa-pinterest"></i><span>pinterest</span></a>
				<a href="" class="facebook"><i class="fa fa-facebook"></i><span>facebook</span></a>
				<a href="" class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a>
				<a href="" class="youtube"><i class="fa fa-youtube"></i><span>youtube</span></a>
				<a href="" class="tumblr"><i class="fa fa-tumblr-square"></i><span>tumblr</span></a>
			</div>

			
			<p class="text-white text-center mt-5">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |  <i class="fa fa-heart-o" aria-hidden="true"></i> made by <a >Ertan Özgür Çetin</a></p>
		

		</div>
	</div>
</section>
<!-- Footer section end -->